# 파이썬 기초 시험.
-------------

## 각 아래의 특징을 적어주세요.
* Numbers:
* 숫자형 자료들을 말함. float과 integar 두 가지가 있음.

* Strings:
* 문자형. 인덱싱과 슬라이싱이 가능하며, 더하기 곱하기 연산이 가능함.

* Lists:
* 리스트 형 순서대로 값이 들어가며, index와 value 둘다 매우 중요한 역활을 함. 인덱싱과 슬라이싱이 가능하며, 저장되는 자료형의 한계가 없음.

* Tuples:
* 튜플은 리스트와 비슷한 방식으로 사용되며, 불변성이 가능 큰 특징이다. 순서가 있어 인덱싱과 슬라이싱이 가능하지만, 리스트와 달리 값을 바꾸거나 추가할 수 없음.

* Dictionaries: 
* key와 value를 이용해서 값을 저장하고 저장되는 자료형의 한계가 없다. 위의 리스트와는 다르게 순서가 필요없기 때문에 탐색의 경우 hash table 구조라 매우 편리하다.

## Numbers

Write an equation that uses multiplication, division, an exponent, addition, and subtraction that is equal to 100.25.

Hint: This is just to test your memory of the basic arithmetic commands, work backwards from 100.25

In [41]:
3*33+1+1/4

100.25

Answer these 3 questions without typing code. Then type code to check your answer.

    What is the value of the expression 4 * (6 + 5)
    
    What is the value of the expression 4 * 6 + 5 
    
    What is the value of the expression 4 + 6 * 5

In [2]:
# 각 44, 29, 34이다.
print(4 *(6+5), 4*6+5, 4+6*5)

44 29 34

What is the *type* of the result of the expression 3 + 1.5 + 4?<br><br>

In [3]:
# 위의 결과는 8.5로 소수형 데이터 이다.
type(3+1.5+4)

float

What would you use to find a number’s square root, as well as its square?

In [5]:
# Square root: 루트 쒸우는 연산.
# 2의 제곱근 
print(2**(1/2)) # 루트 2

1.4142135623730951

In [6]:
# Square: 제곱.
# 2의 제곰
print(2**2) # 4

4

## Strings

Given the string 'hello' give an index command that returns 'e'. Enter your code in the cell below:

In [7]:
s = 'hello'
# Print out 'e' using indexing
print(s[1])

e

Reverse the string 'hello' using slicing:

In [8]:
s ='hello'
# Reverse the string using slicing
print(s[::-1])

olleh

Given the string hello, give two methods of producing the letter 'o' using indexing.

In [10]:
s ='hello'
# Print out the 'o'

# Method 1:
print(s[len(s)-1])

o

In [11]:
# Method 2:
print(s[-1])

o

## Lists

Build this list [0,0,0] two separate ways.

In [12]:
# Method 1:
a = [0,0,0]
a

[0, 0, 0]

In [14]:
# Method 2:
[0]*3 # 곱하기 여산 사용.

[0, 0, 0]

Reassign 'hello' in this nested list to say 'goodbye' instead:

In [15]:
list3 = [1,2,[3,4,'hello']]
list3[2][2] = 'goodbye'
list3

[1, 2, [3, 4, 'goodbye']]

Sort the list below:

In [18]:
list4 = [5,3,4,6,1]
list4.sort()
list4
# or sorted(list4)

[1, 3, 4, 5, 6]

## Dictionaries

Using keys and indexing, grab the 'hello' from the following dictionaries:

In [19]:
d = {'simple_key':'hello'}
# Grab 'hello'
d['simple_key']

'hello'

In [20]:
d = {'k1':{'k2':'hello'}}
# Grab 'hello'
d['k1']['k2']

'hello'

In [26]:
# Getting a little tricker
d = {'k1':[{'nest_key':['this is deep',['hello']]}]}

#Grab hello
d['k1'][0]['nest_key'][1][0]

'hello'

In [33]:
# This will be hard and annoying!
d = {'k1':[1,2,{'k2':['this is tricky',{'tough':[1,2,['hello']]}]}]}
d['k1'][2]['k2'][1]['tough'][2][0]

'hello'

* Can you sort a dictionary? Why or why not?
* sort가 할 수 없음 dictionary는 순서가 없는 데이터 형식이므로

## Tuples

What is the major difference between tuples and lists?<br><br>

* 튜플은 불편성으로 인해서 값을 바꾸거나 추가할 수 없지만, 리스트는 가능한다.

How do you create a tuple?<br><br>

In [38]:
# 튜플 생성방법(소괄호 이용)
(1,23,4), type((1,23,4))

((1, 23, 4), tuple)

## Sets

What is unique about a set?<br><br>

Use a set to find the unique values of the list below:

In [40]:
list5 = [1,2,2,33,4,4,11,22,3,3,2]
list(set(list5)) # list -> set -> list

[1, 2, 33, 4, 3, 11, 22]